<!DOCTYPE html>
{% load i18n %}
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>page title</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/airplane.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
<script src="{{ STATIC_URL }}vendor/angularjs/angular.min.js"></script>
<script src="{{ STATIC_URL }}vendor/three.js/three.min.js"></script>
<script src="{{ STATIC_URL }}js/app/app.js"></script>
<script src="{{ STATIC_URL }}js/app/scene/scene.js"></script>
<script src="{{ STATIC_URL }}js/app/logging/logging.js"></script>
</html>